name: Check Markdown links

on:
  push:
    branches: [ main ]
  pull_request: 
    branches: [ main ]
    
jobs:
  markdown-link-check:

    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v2
    - uses: gaurav-nelson/github-action-markdown-link-check@v1